[submodule "2015/01/C# 6.0 Language Features - String Interpolation/Code/String Interpolation"]
	path = "2015/01/C# 6.0 Language Features - String Interpolation/Code/String Interpolation"
	url = "C:\\$\\Code - Git\\Blog\\2015\\01\\C# 6.0 Language Features - String Interpolation\\Code\\String Interpolation"
