body {
    background-image: url(../images/black-wallpaper-10.jpg);
    margin: 20px;
    font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}

#ContainerDiv {
    padding: 20px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

#NameOutputDiv {
    background-color: #b6ded0;
    color: black;
    font-size: 40px;
}

#WebsiteOutputDiv {
    background-color: #d5e08c;
    color: black;
    font-size: 25px;
}
