body {
    color: Black;
    font-size: xx-large;
    text-align: center;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
    body
    {
        background-color: khaki;
    }
}

@media screen and (-ms-view-state: filled) {
    body
    {
        background-color: lightyellow;
    }
}

@media screen and (-ms-view-state: snapped) {
    body
    {
        background-color: lightgreen;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    body
    {
        background-color: lightblue;
    }
}