body {
    /*background-color: #1570a6;*/
    background-image: url(../images/black-wallpaper-10.jpg);
    margin: 20px;
}

#CustomerListView {
    width: 600px;
    height: 800px;
    float: left;
}

#ProductListView {
    width: 600px;
    height: 800px;
    float: right;
}

.CustomerItemContainer {
    background-color: #ffba00!important;
    width: 150px;
    height: 50px;
    color: black;
    margin: 5px;
    padding: 10px;
}

.ProductItemContainer {
    background-color: brown;
    width: 150px;
    height: 50px;
    color: white;
    margin: 5px;
    padding: 10px;
}
