body {
    background-color: #1570a6;
    margin: 20px;
}

#customerListView {
    height: 100%;
    width: 95%;
}

.itemContainer {
    background-color: #ffba00!important;
    width: 250px;
    height: 100px;
    color: black;
    margin: 5px;
    padding: 10px;
}

.itemContactName {
    font-size: 18px;
    font-weight: bold;
}

.win-container {
}

